Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Allow test
  client/src/components/Question/index.tsx
Labels: client

start questions
  client/src/views/Exam/ExamQuestions.tsx
Labels: client

Create pagination
  client/src/components/Pagination/index.tsx
Labels: client

Create pagination (#76)
  client/src/components/Pagination/index.tsx
Labels: client

Span styling
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Pagination/index.tsx
Labels: client

Allow outer controller question
  client/src/components/Question/index.tsx
Labels: client

Add export
  client/src/components/index.ts
Labels: client

Fix typing
  client/src/services/examService.ts
Labels: client

Styling
  client/src/views/Exam/StudentForm.tsx
  client/src/views/Exam/index.tsx
Labels: client

Fixed bug
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client

Exam inhance
  client/src/views/Exam/ExamQuestions.tsx
Labels: client

Added highlight correct answer
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/index.tsx
Labels: client

Add test review
  client/src/views/Exam/ExamQuestions.tsx
Labels: client

Complete exam result
  client/src/views/Exam/ExamQuestions.tsx
  common/src/models/interfaces/ExamResult.ts
Labels: client, common

Exam page client (#71)
  client/src/App.tsx
  client/src/components/ErrorBoundary/index.tsx
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Loader/Loader.scoped.scss
  client/src/components/Loader/index.tsx
  client/src/components/Pagination/index.tsx
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/index.ts
  client/src/hooks/index.ts
  client/src/hooks/loading.hook.tsx
  client/src/hooks/modal.hook.tsx
  client/src/services/examService.ts
  client/src/services/index.ts
  client/src/views/Exam/ExamQuestions.tsx
  client/src/views/Exam/StudentForm.tsx
  client/src/views/Exam/index.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/index.ts
  common/src/models/interfaces/ExamResult.ts
Labels: client, common

Add info to exam result
  server/src/services/exam.service.ts
Labels: server

Complete certificate
  server/src/controllers/exam.controller.ts
  server/src/services/certification.service.ts
Labels: server

Exam server inhancement (#77)
  server/src/controllers/exam.controller.ts
  server/src/services/certification.service.ts
  server/src/services/exam.service.ts
Labels: server

Add local storage
  client/src/hooks/auth.hook.tsx
Labels: client

Add local storage (#78)
  client/src/hooks/auth.hook.tsx
Labels: client

Fix vertical questions style
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
Labels: client

Rename examQuestions -> examProgress
  client/src/views/Exam/ExamProgress.tsx
  client/src/views/Exam/index.tsx
Labels: client

Extract exam questions into components
  client/src/components/ExamQuestions/index.tsx
  client/src/utils/index.ts
  client/src/views/Exam/ExamIntro.tsx
Labels: client

Add exam id to exam result
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: common, server

Add radio transition
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
Labels: client

Fic conditions
  client/src/components/ExamQuestions/index.tsx
  client/src/views/Exam/ExamProgress.tsx
Labels: client

Fix correct cut
  client/src/components/Question/Question.scoped.scss
Labels: client

Exam improvments (#79)
  client/src/components/ExamQuestions/index.tsx
  client/src/components/Question/Question.scoped.scss
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/utils/index.ts
  client/src/views/Exam/ExamIntro.tsx
  client/src/views/Exam/ExamProgress.tsx
  client/src/views/Exam/index.tsx
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: client, common, server

Icon add class & transition
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/index.tsx
Labels: client

Add toggle switch
  client/src/components/ToggleSwitch/ToggleSwitch.scoped.scss
  client/src/components/ToggleSwitch/index.tsx
  client/src/components/index.ts
  client/src/utils/_vars.scss
Labels: client

fix label
  client/src/components/ToggleSwitch/ToggleSwitch.scoped.scss
  client/src/components/ToggleSwitch/index.tsx
Labels: client

use the toggle
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client

Toggle (#80)
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/index.tsx
  client/src/components/ToggleSwitch/ToggleSwitch.scoped.scss
  client/src/components/ToggleSwitch/index.tsx
  client/src/components/index.ts
  client/src/utils/_vars.scss
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client

Add template example
  client/src/views/Tests/TestForm/TestEmails.tsx
Labels: client

Restrcture reports
  client/src/views/Reports/index.tsx
Labels: client

move validators of details and questions to test
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

Fixed import
  client/src/views/StudentsReports/index.tsx
  client/src/views/index.ts
Labels: client

Initialize report service
  client/src/services/index.ts
  client/src/services/reportService.ts
Labels: client

Remove redundent prop
  client/src/views/Exam/StudentForm.tsx
Labels: client

Initialize students report
  client/src/views/StudentsReports/StudentReport.tsx
  client/src/views/StudentsReports/index.tsx
Labels: client
