Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

add suggestion
  server/src/DAL/questionsRepository.ts
Labels: server

fix edit, and add delete
  server/src/DAL/questionsRepository.ts
  server/src/controller/questions.ts
Labels: server

Add getById & delete endpoint
  server/src/routes/questionRoutes.ts
Labels: server

lint
  server/src/errors/ItemNotInDbError.ts
Labels: server

Reem CR refactoring
  server/src/DAL/questionsRepository.ts
Labels: server

no explicit numbers
  server/src/routes/questionRoutes.ts
Labels: server

Generic repo proposal
  common/src/models/interfaces/HasId.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/index.ts
  server/src/DAL/reporsitory.ts
  server/src/errors/ItemNotInDbError.ts
  server/src/models/types/EntityTypes.ts
  server/src/models/types/index.ts
Labels: common, server

fix async error
  server/src/DAL/reporsitory.ts
Labels: server

Use generic repo
  server/src/DAL/index.ts
  server/src/controller/questions.ts
Labels: server

Start models fixing
  common/src/models/interfaces/Organization.ts
  common/src/models/interfaces/StudyField.ts
  common/src/models/interfaces/index.ts
Labels: common

remove non generic repo
  server/src/DAL/questionsRepository.ts
Labels: server

Rename as part of generic repo
  server/data/questionDB.json
  server/src/DAL/index.ts
Labels: server

Question editing server (#29)
  common/src/models/interfaces/HasId.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/index.ts
  server/data/jsonAsDb.json
  server/data/questionDB.json
  server/src/DAL/index.ts
  server/src/DAL/questionsRepository.ts
  server/src/DAL/reporsitory.ts
  server/src/controller/questions.ts
  server/src/errors/ItemNotInDbError.ts
  server/src/errors/index.ts
  server/src/models/types/EntityTypes.ts
  server/src/models/types/index.ts
  server/src/routes/questionRoutes.ts
Labels: common, server

use hasId
  common/src/models/interfaces/StudyField.ts
Labels: common

Start UI components and styling (#30)
  client/.cracorc
  client/package-lock.json
  client/package.json
  client/src/App.scss
  client/src/App.tsx
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Forms/Button.tsx
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/index.ts
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/components/privateRoute.tsx
  client/src/components/questionsForm.tsx
  client/src/hooks/auth.hook.tsx
  client/src/index.scss
  client/src/index.tsx
  client/src/utils/_vars.scss
  client/src/views/Home.tsx
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
  client/src/views/Reports.tsx
  client/src/views/Tests.tsx
  client/src/views/index.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
  package-lock.json
  package.json
Labels: repo, client, common

User really should have an Id
  common/src/models/interfaces/User.ts
Labels: common

Questions are not directly from organization
  common/src/models/interfaces/Organization.ts
Labels: common

add user.organization
  common/src/models/interfaces/User.ts
Labels: common

Generate all repos
  server/data/organizationDB.json
  server/data/studyFieldDB.json
  server/data/userDB.json
  server/src/DAL/index.ts
  server/src/models/types/EntityTypes.ts
Labels: server

Question can be in multi fields
  common/src/models/interfaces/Organization.ts
Labels: common

User might be pending
  common/src/models/interfaces/User.ts
Labels: common

Add validator middleware
  server/package-lock.json
  server/package.json
  server/src/middleware/validation.middleware.ts
Labels: server

add common tsc watch
  common/package-lock.json
  common/package.json
  package-lock.json
  scripts/npm.start.js
  server/package-lock.json
  server/package.json
Labels: repo, common, scripts, server

Add Q&A DTO
  common/src/models/dtos/answer.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/dtos/question.dto.ts
  common/src/models/index.ts
  common/src/validators/answers.validator.ts
  common/src/validators/index.ts
Labels: common

use the middleware
  server/src/app.ts
  server/src/controller/questions.ts
  server/src/middleware/validation.middleware.ts
  server/src/routes/questionRoutes.ts
Labels: server

undo
  common/package.json
  package-lock.json
  scripts/npm.start.js
Labels: repo, common, scripts

Fix common and add validation fallback
  common/package.json
  server/src/middleware/validation.middleware.ts
Labels: common, server

Fix exporting
  server/src/middleware/index.ts
  server/src/routes/questionRoutes.ts
Labels: server

fix Q&A validations
  common/src/models/dtos/answer.dto.ts
  common/src/models/dtos/question.dto.ts
Labels: common

Add user DTO
  common/src/models/dtos/user.dto.ts
Labels: common

Add user repo to validate email in use
  server/src/DAL/index.ts
  server/src/DAL/userRepository.ts
Labels: server

Add email taken error
  server/src/errors/EmailTakenError.ts
  server/src/errors/index.ts
Labels: server

Start auth controller
  common/src/models/dtos/index.ts
  server/src/controller/auth.ts
Labels: common, server

Add bcrypts
  package-lock.json
  server/package.json
Labels: repo, server

Fixed better logic
  client/src/components/Forms/FormField.tsx
  client/src/hooks/auth.hook.tsx
  common/src/validators/answers.validator.ts
Labels: client, common

Add seed organizations
  server/data/organizationDB.json
Labels: server

Add error and status code
  server/src/constants/status_codes.ts
  server/src/errors/EmailTakenError.ts
  server/src/errors/LoginError.ts
Labels: server

Complete signup and login
  server/src/DAL/userRepository.ts
  server/src/controller/auth.ts
Labels: server

Restructure
  server/src/controllers/auth.ts
  server/src/controllers/index.ts
  server/src/controllers/questions.ts
Labels: server

Use normal express syntax
  server/src/app.ts
  server/src/routes/questionRoutes.ts
  server/src/utils/expressAsync.ts
  server/src/utils/index.ts
Labels: server

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
