Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Add reset / restore view
  client/src/App.tsx
  client/src/services/authService.ts
  client/src/views/Restore/Restore.scoped.scss
  client/src/views/Restore/index.tsx
  client/src/views/index.ts
Labels: client

Simplify
  client/src/App.tsx
Labels: client

Create accordion
  client/src/components/Accordion/Accordion.tsx
  client/src/components/Accordion/AccordionSection.tsx
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/Accordion/SilentAccordionSection.tsx
  client/src/components/Accordion/index.ts
  client/src/components/Icon/icons.ts
  client/src/components/index.ts
Labels: client

Test accordion
  client/src/views/Reports.tsx
Labels: client

UI work (#59)
  client/src/App.tsx
  client/src/components/Accordion/Accordion.tsx
  client/src/components/Accordion/AccordionSection.tsx
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/Accordion/SilentAccordionSection.tsx
  client/src/components/Accordion/index.ts
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Icon/icons.ts
  client/src/components/Modal/WarningModal.tsx
  client/src/components/index.ts
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/views/Login/index.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Reports.tsx
  client/src/views/Restore/Restore.scoped.scss
  client/src/views/Restore/index.tsx
  client/src/views/index.ts
Labels: client

Update client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/EditTest.tsx
Labels: client

Update client/src/views/Tests/index.tsx
  client/src/views/Tests/index.tsx
Labels: client

typo
  client/src/views/Tests/EditTest.tsx
Labels: client

Add correct highlight
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/utils/_vars.scss
Labels: client

Add correct highlight (#61)
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/utils/_vars.scss
Labels: client

Fixed state- Add interfaces
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

Fixed test and add callbacks
  client/src/views/Tests/EditTest.tsx
Labels: client

Create models
  common/src/models/interfaces/AnsweredQuestion.ts
  common/src/models/interfaces/Exam.ts
Labels: common

create dummy controller and route
  server/src/controllers/index.ts
  server/src/controllers/report.controller.ts
  server/src/routes/index.ts
  server/src/routes/report.routes.ts
Labels: server

naming convention
  server/src/app.ts
  server/src/routes/index.ts
Labels: server

fix and use report routes
  server/src/app.ts
  server/src/routes/report.routes.ts
Labels: server

Fix import + lint
  server/src/controllers/report.controller.ts
Labels: server

use reduce
  server/src/services/field.service.ts
Labels: server

extract type
  server/src/services/field.service.ts
Labels: server

fix active question logic
  server/src/services/question.service.ts
Labels: server

Stupid Chemi. use await!!!!!
  server/src/controllers/question.controller.ts
  server/src/controllers/test.controller.ts
Labels: server

Add to exam models
  common/src/models/interfaces/Exam.ts
  common/src/models/interfaces/Student.ts
Labels: common

fix archiving
  server/src/DAL/reporsitory.ts
Labels: server

Add student repository
  server/src/DAL/studentRepository.ts
  server/src/models/types/EntityTypes.ts
Labels: server

create student dto
  common/src/models/dtos/student.dto.ts
Labels: common

lint
  server/src/routes/exam.routes.ts
Labels: server

Certification service (#55)
  package-lock.json
  server/assets/stamp.png
  server/assets/winners.png
  server/package.json
  server/src/app.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/index.ts
  server/src/routes/exam.routes.ts
  server/src/routes/index.ts
  server/src/services/certification.service.ts
  server/src/services/index.ts
Labels: repo, server

Fix model changes
  server/src/services/certification.service.ts
Labels: server

remove redundant archive actions
  server/src/DAL/reporsitory.ts
Labels: server

Allow sending component not just children
  client/src/components/ProtectedRoute/index.tsx
Labels: client

Use component where possible
  client/src/App.tsx
Labels: client

typo
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
Labels: client

Add vlidityChange to component props and fixed callbacks
  client/src/views/Tests/TestForm/EmailForm.tsx
Labels: client

Fixed callbacks and validity
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client

Fixed callbacks and emailForm
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
Labels: client

Fix the issue
  client/src/App.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/hooks/auth.hook.tsx
  client/src/views/Login/index.tsx
Labels: client

Fix frontend router (#63)
  client/src/App.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/hooks/auth.hook.tsx
  client/src/views/Login/index.tsx
Labels: client

Generate test service
  client/src/services/httpService.ts
  client/src/services/questionService.ts
  client/src/services/testService.ts
Labels: client

Add test start timestamp
  common/src/models/interfaces/Exam.ts
Labels: common

Fix name + export
  common/src/models/dtos/index.ts
  common/src/models/dtos/student.dto.ts
Labels: common
