Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

Add Chad Gadya
  common/src/models/interfaces/ExamResult.ts
  server/src/models/types/ExamResultFn.ts
  server/src/models/types/ExamResultWithEmailDetails.ts
Labels: common, server

Reem
  server/src/controllers/report.controller.ts
  server/src/models/types/index.ts
  server/src/services/exam.service.ts
Labels: server

Trei zuzei (#93)
  common/src/models/interfaces/ExamResult.ts
  server/src/controllers/report.controller.ts
  server/src/models/types/ExamResultFn.ts
  server/src/models/types/ExamResultWithEmailDetails.ts
  server/src/models/types/index.ts
  server/src/services/exam.service.ts
Labels: common, server

move time constants to common
  common/src/constants/index.ts
  common/src/constants/time.ts
  server/src/constants/index.ts
  server/src/services/auth.service.ts
Labels: common, server

initial date picker
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/DatePicker/DatePickerBody.scoped.scss
  client/src/components/DatePicker/DatePickerBody.tsx
  client/src/components/DatePicker/DatePickerHead.scoped.scss
  client/src/components/DatePicker/DatePickerHead.tsx
  client/src/components/DatePicker/index.tsx
  client/src/components/DatePicker/types.ts
  common/src/constants/time.ts
Labels: client, common

Exort DatePicker
  client/src/components/index.ts
Labels: client

Style
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/DatePicker/DatePickerBody.scoped.scss
  client/src/components/DatePicker/DatePickerHead.scoped.scss
Labels: client

Add submissions
  client/src/views/TestsReports/TestReport.tsx
Labels: client

TEMP
  client/src/components/DatePicker/DatePickerBody.tsx
  client/src/components/DatePicker/index.tsx
  client/src/components/DatePicker/types.ts
  client/src/views/Reports.tsx
  common/src/constants/time.ts
Labels: client, common

Update report.controller.ts
  server/src/controllers/report.controller.ts
Labels: server

Update report.controller.ts
  server/src/controllers/report.controller.ts
Labels: server

Update report.controller.ts (#95)
  server/src/controllers/report.controller.ts
Labels: server

fix previous day issue
  client/src/components/DatePicker/index.tsx
  client/src/components/DatePicker/types.ts
Labels: client

simplify
  client/src/components/DatePicker/index.tsx
Labels: client

Add date picker (#94)
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/DatePicker/DatePickerBody.scoped.scss
  client/src/components/DatePicker/DatePickerBody.tsx
  client/src/components/DatePicker/DatePickerHead.scoped.scss
  client/src/components/DatePicker/DatePickerHead.tsx
  client/src/components/DatePicker/index.tsx
  client/src/components/DatePicker/types.ts
  client/src/components/index.ts
  client/src/views/Reports.tsx
  common/src/constants/index.ts
  common/src/constants/time.ts
  server/src/constants/index.ts
  server/src/constants/time.ts
  server/src/services/auth.service.ts
Labels: client, common, server

drop the crap
  common/src/constants/time.ts
Labels: common

Style range picker
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/DatePicker/DatePickerHead.scoped.scss
  client/src/components/DatePicker/index.tsx
Labels: client

Fix styles
  client/src/components/Layout/SearchRow.scoped.scss
Labels: client

Use date picker
  client/src/views/TestsReports/TestReports.scoped.scss
  client/src/views/TestsReports/index.tsx
Labels: client

extract variables
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Modal/Modal.scoped.scss
  client/src/utils/_vars.scss
Labels: client

Add initial date
  client/src/components/DatePicker/index.tsx
  client/src/views/TestsReports/index.tsx
Labels: client

use range in client
  client/src/components/DatePicker/index.tsx
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/views/TestsReports/index.tsx
Labels: client

styling
  client/src/components/DatePicker/DatePickerBody.scoped.scss
Labels: client

add date range to server
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

Install winston & morgan
  package-lock.json
  server/package.json
Labels: repo, server

create logging service
  server/src/services/appLogger.service.ts
  server/src/services/index.ts
Labels: server

Add ID to requests for better debugging
  server/src/custom-typings.d.ts
  server/src/middleware/index.ts
  server/src/middleware/reqId.middleware.ts
Labels: server

add reqId and use logger
  server/src/app.ts
Labels: server

add date range to server (#97)
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

Add logs to DAL
  server/src/DAL/reporsitory.ts
  server/src/DAL/studentRepository.ts
Labels: server

Fix build order
  server/src/app.ts
  server/src/services/index.ts
Labels: server

Add unionArrays function
  client/src/utils/index.ts
Labels: client

Add question statistic table
  client/src/views/TestsReports/TestReport.tsx
Labels: client

Save data for testing our project
  server/data/examDB.json
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studentDB.json
  server/data/studyFieldDB.json
  server/data/testDB.json
  server/data/userDB.json
Labels: server

add request start log
  server/src/middleware/reqId.middleware.ts
Labels: server

optimize looger service
  server/src/services/appLogger.service.ts
Labels: server

fixes
  server/src/services/appLogger.service.ts
Labels: server

use correct log level
  server/src/DAL/reporsitory.ts
  server/src/DAL/studentRepository.ts
Labels: server

log middlewares
  server/src/middleware/auth.middleware.ts
  server/src/middleware/error.middleware.ts
  server/src/middleware/notFound.middleware.ts
  server/src/middleware/reqId.middleware.ts
  server/src/middleware/validation.middleware.ts
Labels: server

export only relevant data
  server/src/services/appLogger.service.ts
Labels: server

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
