Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

fix self reference
  common/src/models/dtos/resetPassword.dto.ts
  common/src/models/dtos/user.dto.ts
Labels: common

token from route
  common/src/models/dtos/resetPassword.dto.ts
  server/src/controllers/auth.ts
  server/src/routes/authRoutes.ts
Labels: common, server

role is not forced
  common/package.json
  common/src/models/dtos/user.dto.ts
  common/src/models/interfaces/User.ts
Labels: common

fix token search logic
  server/src/DAL/userRepository.ts
Labels: server

Add auth controller methods (#36)
  common/package.json
  common/src/models/dtos/index.ts
  common/src/models/dtos/requestResetPasswod.dto.ts
  common/src/models/dtos/resetPassword.dto.ts
  common/src/models/dtos/user.dto.ts
  common/src/models/interfaces/User.ts
  server/src/DAL/reporsitory.ts
  server/src/DAL/userRepository.ts
  server/src/constants/index.ts
  server/src/constants/time.ts
  server/src/controllers/auth.ts
  server/src/errors/AuthError.ts
  server/src/errors/LoginError.ts
  server/src/errors/index.ts
  server/src/routes/authRoutes.ts
Labels: common, server

styling
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
Labels: client

add color
  client/src/utils/_vars.scss
Labels: client

clean up auth form
  client/src/views/Login/Login.scoped.scss
Labels: client

extract var & html5
  client/src/App.tsx
  client/src/index.scss
  client/src/utils/_vars.scss
Labels: client

Create non-styledtooltip
  client/src/components/Tooltip/index.tsx
Labels: client

Add floating menu
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/hooks/clickOut.hook.ts
Labels: client

Add arrow
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
Labels: client

Nicer app (#37)
  client/src/App.tsx
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/components/Tooltip/index.tsx
  client/src/hooks/clickOut.hook.ts
  client/src/index.scss
  client/src/utils/_vars.scss
  client/src/views/Login/Login.scoped.scss
Labels: client

Seed Db
  server/data/organizationDB.json
  server/data/studyFieldDB.json
Labels: server

Extends express typings
  server/src/custom-typings.d.ts
Labels: server

Extract secret to constant
  server/src/constants/general.ts
  server/src/constants/index.ts
  server/src/controllers/auth.ts
Labels: server

typo
  server/src/DAL/userRepository.ts
Labels: server

Create auth middleware
  server/src/errors/UnauthorizedError.ts
  server/src/errors/index.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/index.ts
Labels: server

lint
  server/data/studyFieldDB.json
  server/src/constants/general.ts
Labels: server

Auth middleware server (#38)
  server/data/organizationDB.json
  server/data/studyFieldDB.json
  server/src/DAL/userRepository.ts
  server/src/constants/general.ts
  server/src/constants/index.ts
  server/src/controllers/auth.ts
  server/src/custom-typings.d.ts
  server/src/errors/UnauthorizedError.ts
  server/src/errors/index.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/index.ts
Labels: server

lint + optional
  server/src/custom-typings.d.ts
Labels: server

Enhance click outside
  client/src/components/FloatingMenu/index.tsx
  client/src/hooks/clickOut.hook.ts
  client/src/hooks/clickOutside.hook.ts
  client/src/hooks/index.ts
Labels: client

Style tooltip
  client/src/components/Tooltip/Tooltip.scoped.scss
  client/src/components/Tooltip/index.tsx
Labels: client

fix missing var
  client/src/utils/_vars.scss
Labels: client

fix damn arrow
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
Labels: client

styling and tooltip (#39)
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
  client/src/components/Tooltip/Tooltip.scoped.scss
  client/src/components/Tooltip/index.tsx
  client/src/hooks/clickOut.hook.ts
  client/src/hooks/clickOutside.hook.ts
  client/src/hooks/index.ts
  client/src/utils/_vars.scss
  server/src/custom-typings.d.ts
Labels: client, server

remove log
  client/src/views/Login/index.tsx
Labels: client

try this
  client/src/views/Questions.tsx
Labels: client

create SaS hook
  client/src/hooks/index.ts
  client/src/hooks/searchAndSort.hook.ts
Labels: client

start out table
  client/src/components/Table/Row.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
Labels: client

fix the SAS hook
  client/src/hooks/searchAndSort.hook.ts
Labels: client

correct sorting
  client/src/components/Table/index.tsx
Labels: client

enhance table
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
Labels: client

table styles
  client/src/components/Table/Row.scss
  client/src/components/Table/Table.scoped.scss
Labels: client

use table enhancments
  client/src/views/Questions.tsx
Labels: client

Start generic table (#40)
  client/src/components/Table/Row.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/hooks/index.ts
  client/src/hooks/searchAndSort.hook.ts
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
Labels: client

Bla Bla Bla
  client/src/components/questionsForm.tsx
  common/src/constants/index.ts
  common/src/constants/urls.ts
  server/src/app.ts
  server/src/constants/index.ts
Labels: client, common, server

Create Ellipsis component
  client/src/components/Ellipsis/index.tsx
Labels: client

Lint
  client/src/components/Table/index.tsx
Labels: client

Lint & simplify
  client/src/components/Table/Row.tsx
Labels: client

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
