Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Add helper function
  server/src/services/student.service.ts
Labels: server

Extend exam and fixed async bug
  common/src/models/interfaces/Exam.ts
  server/src/services/exam.service.ts
Labels: common, server

Enhancement
  server/src/controllers/exam.controller.ts
Labels: server

Report server fixes (#84)
  common/src/models/interfaces/Exam.ts
  server/src/controllers/exam.controller.ts
  server/src/services/exam.service.ts
  server/src/services/student.service.ts
Labels: common, server

Rename view
  client/src/views/Tests/TestForm/TestMessages.tsx
  client/src/views/Tests/TestForm/index.ts
Labels: client

drop redundant type
  client/src/views/Tests/TestForm/EmailForm.tsx
Labels: client

extract types
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestMessages.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/types.ts
Labels: client

Add error types
  client/src/views/Tests/TestForm/types.ts
Labels: client

Switch to simpler error
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client

Drop self handling
  client/src/views/Tests/TestForm/EmailForm.tsx
Labels: client

stop self handling
  client/src/views/Tests/TestForm/TestMessages.tsx
Labels: client

Handle all child forms
  client/src/views/Tests/EditTest.tsx
Labels: client

Fix formfield size
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
Labels: client

drop redundant types
  client/src/views/Tests/EditTest.tsx
Labels: client

Fixed proxy
  server/src/DAL/studentRepository.ts
Labels: server

Fixed async await
  server/src/controllers/exam.controller.ts
Labels: server

Fixed certificate url
  server/src/services/email.service.ts
Labels: server

Revert "Merge remote-tracking branch 'origin/master' into Server-fixes"
  server/data/examDB.json
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studentDB.json
  server/data/studyFieldDB.json
  server/data/testDB.json
Labels: server

Server fixes (#86)
  server/src/DAL/studentRepository.ts
  server/src/controllers/exam.controller.ts
  server/src/services/email.service.ts
Labels: server

Fixed search
  client/src/views/StudentsReports/StudentReport.tsx
Labels: client

Rename and return result instead of exam
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

Rename and return result instead of exam (#87)
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

Add completionDate to exam result
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: common, server

Add completionDate to exam result (#88)
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: common, server

Create exam review modal
  client/src/components/Modal/ExamReviewModal.tsx
  client/src/components/Modal/index.ts
Labels: client

Remove redundent import
  client/src/components/Modal/MessageModal.tsx
Labels: client

Fixed date
  client/src/views/StudentsReports/StudentReport.tsx
Labels: client

Enable alignment
  client/src/components/Layout/Container.scoped.scss
  client/src/components/Layout/Container.tsx
Labels: client

Use container alignment and center pagination
  client/src/components/ExamQuestions/ExamQuestions.scoped.scss
  client/src/components/ExamQuestions/index.tsx
Labels: client

Fixed typing
  client/src/components/Modal/ExamReviewModal.tsx
Labels: client

Open exam review modal
  client/src/views/StudentsReports/StudentReport.tsx
Labels: client

Display average grade
  client/src/views/StudentsReports/StudentReport.tsx
Labels: client

Create route for reports
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
Labels: client

Use import type
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestMessages.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

Question form self validations
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/types.ts
Labels: client

Forms work (#85)
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/types.ts
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestMessages.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/index.ts
  client/src/views/Tests/TestForm/types.ts
Labels: client

Initialize test reports
  client/src/App.tsx
  client/src/views/TestsReports/TestReport.tsx
  client/src/views/TestsReports/index.tsx
  client/src/views/index.ts
Labels: client

Remove redundant method
  server/src/controllers/report.controller.ts
  server/src/services/question.service.ts
Labels: server

Improve exam result
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

Use nav link and style
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/NavBar/index.tsx
Labels: client
