Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

enable delete + move question in state
  client/src/views/Questions/index.tsx
Labels: client

Extract esiting to pages
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/index.ts
Labels: client

Add editing
  client/src/views/Questions/EditQuestion.tsx
Labels: client

fix name
  client/src/components/Modal/QuestionPeekModal.tsx
Labels: client

Replace with fragments
  client/src/views/Tests/TestForm/TestEmails.tsx
Labels: client

Test questions diplay - not completed
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

lint
  client/src/components/Question/Question.scoped.scss
  client/src/views/Questions/QuestionForm/index.ts
Labels: client

styling
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Tooltip/Tooltip.scoped.scss
Labels: client

Add setion invalid mark
  client/src/components/SectionNavigator/Section.tsx
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
Labels: client

Add option to remove answer
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
Labels: client

Add error message option
  client/src/components/SectionNavigator/Section.tsx
  client/src/components/SectionNavigator/SectionNavigator.tsx
Labels: client

style fix
  client/src/components/Tooltip/Tooltip.scoped.scss
Labels: client

add validity change handler
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
Labels: client

styling
  client/src/components/Layout/Row.scoped.scss
Labels: client

Add answer validations
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
Labels: client

use validations
  client/src/views/Questions/EditQuestion.tsx
Labels: client

Add additional content to question
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
Labels: client

enable answer line breaking
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
Labels: client

preview and send question correctly
  client/src/views/Questions/EditQuestion.tsx
Labels: client

Question page work (#56)
  client/src/components/Layout/Row.scoped.scss
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/SectionNavigator/Section.tsx
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
  client/src/components/Tooltip/Tooltip.scoped.scss
  client/src/services/questionService.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/index.ts
  client/src/views/Questions/index.tsx
Labels: client

fix dto uuid version validation
  common/src/models/dtos/question.dto.ts
  common/src/models/dtos/test.dto.ts
Labels: common

Fix missing key
  client/src/components/Question/index.tsx
Labels: client

better horizontal mode
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
Labels: client

Get question for esit, and save/edit, then callback
  client/src/services/questionService.ts
  client/src/views/Questions/EditQuestion.tsx
Labels: client

Warning modal
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/MessageModal.tsx
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/WarningModal.tsx
  client/src/components/Modal/index.ts
Labels: client

Warn multichoice
  client/src/views/Questions/EditQuestion.tsx
Labels: client

fix for modals
  client/src/views/Reports.tsx
Labels: client

Fix question service
  server/src/services/question.service.ts
Labels: server

Handle new / changed question
  client/src/views/Questions/index.tsx
Labels: client

Question editing enhancments (#57)
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/MessageModal.tsx
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/WarningModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/services/questionService.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Reports.tsx
  common/src/models/dtos/question.dto.ts
  common/src/models/dtos/test.dto.ts
Labels: client, common

Fix question service (#58)
  server/src/services/question.service.ts
Labels: server

Add icon
  client/src/components/Icon/icons.ts
Labels: client

Row click
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
Labels: client

Fix logic and row click call back
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

Warning fixes + update when save success
  client/src/components/Modal/WarningModal.tsx
  client/src/views/Questions/EditQuestion.tsx
Labels: client

form field auto fill fix
  client/src/components/Forms/FormField.scoped.scss
Labels: client

Add modal and link to reset password page
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
Labels: client

remove unneded functions
  client/src/hooks/auth.hook.tsx
Labels: client

lint
  client/src/views/Login/index.tsx
Labels: client

Change path
  client/src/views/Login/index.tsx
Labels: client
