Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Track student activity time
  common/src/models/interfaces/Student.ts
Labels: common

Organization will save users whove answered its tests
  common/src/models/interfaces/Organization.ts
Labels: common

Create student DB
  server/data/studentDB.json
  server/src/DAL/index.ts
Labels: server

Create student service, and add helper methods
  server/src/services/organization.service.ts
  server/src/services/student.service.ts
Labels: server

Add students to orgDB
  server/data/organizationDB.json
Labels: server

route name fix
  server/src/app.ts
Labels: server

extract to functions
  server/src/services/student.service.ts
Labels: server

Add missing exports
  common/src/models/interfaces/index.ts
Labels: common

Add a exam repository
  common/src/models/interfaces/Exam.ts
  server/data/examDB.json
  server/src/DAL/index.ts
  server/src/models/types/EntityTypes.ts
Labels: common, server

start exam service
  server/src/services/exam.service.ts
Labels: server

Work on exam & reports - server (#62)
  common/src/models/dtos/index.ts
  common/src/models/dtos/student.dto.ts
  common/src/models/interfaces/AnsweredQuestion.ts
  common/src/models/interfaces/Exam.ts
  common/src/models/interfaces/Organization.ts
  common/src/models/interfaces/Student.ts
  common/src/models/interfaces/index.ts
  server/data/examDB.json
  server/data/organizationDB.json
  server/data/studentDB.json
  server/src/DAL/index.ts
  server/src/DAL/studentRepository.ts
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/report.controller.ts
  server/src/controllers/test.controller.ts
  server/src/models/types/EntityTypes.ts
  server/src/routes/index.ts
  server/src/routes/report.routes.ts
  server/src/services/certification.service.ts
  server/src/services/exam.service.ts
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
Labels: common, server

Style
  client/src/components/Forms/FormField.scoped.scss
Labels: client

Export
  client/src/services/index.ts
Labels: client

Test form - work
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
Labels: client

Remove teacher email
  common/src/models/dtos/test.dto.ts
Labels: common

Add user email
  server/src/controllers/test.controller.ts
  server/src/services/test.service.ts
Labels: server

Add await
  server/src/services/field.service.ts
Labels: server

Fixed db
  server/data/studyFieldDB.json
Labels: server

Test server (#64)
  server/data/studyFieldDB.json
  server/src/controllers/test.controller.ts
  server/src/services/field.service.ts
  server/src/services/test.service.ts
Labels: server

Fixed route
  client/src/services/testService.ts
Labels: client

Enable editing
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/index.tsx
Labels: client

avoid selecting form-field label
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
Labels: client

Add search icon
  client/src/components/Icon/icons.ts
Labels: client

add search icon
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
Labels: client

Create container component
  client/src/components/Layout/Container.scoped.scss
  client/src/components/Layout/Container.tsx
  client/src/components/Layout/index.ts
  client/src/index.scss
Labels: client

Use container
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Restore/index.tsx
Labels: client

Enable table searching
  client/src/components/Table/index.tsx
Labels: client

make table header sticky
  client/src/components/Table/Header.scoped.scss
Labels: client

Create search row component
  client/src/components/Layout/SearchRow.scoped.scss
  client/src/components/Layout/SearchRow.tsx
  client/src/components/Layout/index.ts
Labels: client

remove table margin
  client/src/components/Table/Table.scoped.scss
Labels: client

Question page add search
  client/src/views/Questions/Question.scoped.scss
  client/src/views/Questions/index.tsx
Labels: client

Allow limiting search by object keys
  client/src/hooks/searchAndSort.hook.ts
Labels: client

Data table search by keys
  client/src/components/Table/index.tsx
Labels: client

Search by title only
  client/src/views/Questions/Question.scoped.scss
  client/src/views/Questions/index.tsx
Labels: client

Search component (#65)
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Icon/icons.ts
  client/src/components/Layout/Container.scoped.scss
  client/src/components/Layout/Container.tsx
  client/src/components/Layout/SearchRow.scoped.scss
  client/src/components/Layout/SearchRow.tsx
  client/src/components/Layout/index.ts
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/hooks/searchAndSort.hook.ts
  client/src/index.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Restore/index.tsx
Labels: client

header styling
  client/src/components/Table/Header.scoped.scss
Labels: client

Test view page layout + search
  client/src/views/Tests/index.tsx
Labels: client

Add copy icon
  client/src/components/Icon/icons.ts
Labels: client

Create a modal to allow copying test link
  client/src/components/Modal/TestLinkModal.scoped.scss
  client/src/components/Modal/TestLinkModal.tsx
  client/src/components/Modal/index.ts
Labels: client

Add copy linnk abbillity
  client/src/views/Tests/index.tsx
Labels: client
