Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

Move in to folde
  client/src/views/Tests/index.tsx
Labels: client

start basic test page
  client/src/views/Tests/index.tsx
Labels: client

Some table styling
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Header.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
Labels: client

fix -1 index error
  server/src/DAL/reporsitory.ts
Labels: server

lint
  server/src/services/organization.service.ts
Labels: server

Add some helper types in server
  server/src/models/types/AuthenticatedRequestHeaders.ts
  server/src/models/types/Params.ts
  server/src/models/types/index.ts
Labels: server

Add test helper methods
  server/src/services/field.service.ts
Labels: server

Make test service relevant
  server/src/controllers/index.ts
  server/src/controllers/tests.ts
  server/src/routes/test.routes.ts
  server/src/services/test.service.ts
Labels: server

lint
  server/src/models/types/Params.ts
Labels: server

export test routes
  server/src/routes/index.ts
Labels: server

use test routes with auth middelware
  server/src/app.ts
Labels: server

Auth middleware was moved to app
  server/src/routes/test.routes.ts
Labels: server

Test page client (#51)
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Header.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/views/Tests.tsx
  client/src/views/Tests/index.tsx
Labels: client

lint
  server/src/controllers/index.ts
Labels: server

Test endpoints (#52)
  server/src/DAL/reporsitory.ts
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/tests.ts
  server/src/models/types/AuthenticatedRequestHeaders.ts
  server/src/models/types/Params.ts
  server/src/models/types/index.ts
  server/src/routes/index.ts
  server/src/routes/test.routes.ts
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
  server/src/services/test.service.ts
Labels: server

naming
  server/src/routes/auth.routes.ts
  server/src/routes/index.ts
  server/src/routes/question.routes.ts
Labels: server

move middleware to app
  server/src/app.ts
  server/src/routes/question.routes.ts
Labels: server

remove unused old types
  server/src/models/index.ts
  server/src/models/interfaces/Endpoint.ts
  server/src/models/interfaces/index.ts
  server/src/models/types/AsyncWrapperFunction.ts
  server/src/models/types/index.ts
Labels: server

question controller cleanup
  server/src/controllers/questions.ts
Labels: server

Auth controller typing
  server/src/controllers/auth.ts
  server/src/models/types/Params.ts
Labels: server

naming
  server/src/controllers/auth.controller.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/test.controller.ts
Labels: server

same same
  server/src/controllers/index.ts
Labels: server

drop special repo and use service
  server/src/DAL/index.ts
  server/src/DAL/userRepository.ts
  server/src/services/auth.service.ts
Labels: server

Server cleanup (#53)
  server/src/DAL/index.ts
  server/src/DAL/userRepository.ts
  server/src/app.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/index.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/test.controller.ts
  server/src/models/index.ts
  server/src/models/interfaces/Endpoint.ts
  server/src/models/interfaces/index.ts
  server/src/models/types/AsyncWrapperFunction.ts
  server/src/models/types/Params.ts
  server/src/models/types/index.ts
  server/src/routes/auth.routes.ts
  server/src/routes/index.ts
  server/src/routes/question.routes.ts
  server/src/routes/questionRoutes.ts
  server/src/services/auth.service.ts
Labels: server

Add Icon
  client/src/components/Icon/icons.ts
  client/src/views/Tests/index.tsx
Labels: client

Create test edit page
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/index.ts
Labels: client

Some note
  client/src/views/Questions/index.tsx
Labels: client

Create test edit page
  client/src/views/Tests/EditTest.tsx
Labels: client

create certificate service
  package-lock.json
  server/assets/winners.png
  server/package.json
  server/src/services/certification.service.ts
  server/src/services/index.ts
Labels: repo, server

start an exam controller with certificate
  server/src/controllers/exam.controller.ts
Labels: server

Add certified stamp
  server/assets/stamp.png
  server/src/services/certification.service.ts
Labels: server

lint and export
  server/src/controllers/exam.controller.ts
  server/src/controllers/index.ts
Labels: server

start exam routes
  server/src/routes/exam.routes.ts
  server/src/routes/index.ts
Labels: server

use exam routes
  server/src/app.ts
Labels: server

Add question exam view
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
Labels: client

Add quesrion peek view
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/index.ts
Labels: client

simplify answer
  client/src/components/QuestionAnswer/index.tsx
Labels: client

Add the peek
  client/src/views/Questions/EditQuestion.tsx
Labels: client

lint
  client/src/components/Question/index.tsx
Labels: client

fix service
  client/src/services/questionService.ts
Labels: client

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
