Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Fixed routes
  client/src/components/NavBar/index.tsx
Labels: client

Fixed return and key
  client/src/components/NestedRoutes/index.tsx
Labels: client

Edit qestion imporvement
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

CR
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
  client/src/hooks/auth.hook.tsx
  client/src/views/Home/index.tsx
Labels: client

Lint + install nodemailer
  package-lock.json
  server/package.json
  server/src/app.ts
Labels: repo, server

create email service
  server/src/services/email.service.ts
  server/src/services/index.ts
Labels: server

Add required models and constants
  common/src/constants/urls.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Student.ts
  common/src/models/interfaces/index.ts
Labels: common

lint & use email service
  server/src/controllers/auth.ts
Labels: server

add dummy user to organizations
  server/data/organizationDB.json
Labels: server

fix object object
  client/src/hooks/auth.hook.tsx
Labels: client

extract regex
  client/src/hooks/searchAndSort.hook.ts
Labels: client

Apply suggestions from code review
  server/src/services/email.service.ts
Labels: server

Generate email service (#45)
  common/src/constants/urls.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Student.ts
  common/src/models/interfaces/index.ts
  package-lock.json
  server/data/organizationDB.json
  server/package.json
  server/src/app.ts
  server/src/controllers/auth.ts
  server/src/services/email.service.ts
  server/src/services/index.ts
Labels: repo, common, server

Fixed and use hook
  client/src/hooks/auth.hook.tsx
  client/src/views/Questions.tsx
Labels: client

Fixed select
  client/src/components/Forms/Select.tsx
Labels: client

Init question component
  client/src/components/QuestionAnswer/index.tsx
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

try again
  client/src/components/QuestionAnswer/index.tsx
Labels: client

fix logic
  client/src/components/QuestionAnswer/index.tsx
Labels: client

styling
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/Select.scoped.scss
  client/src/index.scss
Labels: client

Fix tanle row
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.tsx
Labels: client

fix login redirect
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
Labels: client

styling
  client/src/views/Home/Home.scoped.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
Labels: client

Switch alignment to enum
  client/src/components/questionsForm.tsx
  common/src/models/dtos/question.dto.ts
  common/src/models/enums/Alignment.ts
  common/src/models/enums/index.ts
  common/src/models/interfaces/Question.ts
  server/data/questionDB.json
Labels: client, common, server

Generate row layout
  client/src/components/Layout/Row.scoped.scss
  client/src/components/Layout/Row.tsx
  client/src/components/Layout/index.ts
Labels: client

Fix types + exorts
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/index.ts
Labels: client

Extract some functions to utils
  client/src/utils/index.ts
Labels: client

use utils & row. Add aignment. required.
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

required indicator
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/Select.tsx
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

scrollbar styling
  client/src/index.scss
Labels: client

style + checked
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
Labels: client

Create example answers
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

create cinoonent
  client/src/components/Icon/icons.ts
  client/src/components/Icon/insex.tsx
Labels: client

fix name
  client/src/components/Icon/index.tsx
Labels: client

set to nullable and export
  client/src/components/Icon/index.tsx
  client/src/components/index.ts
Labels: client

init use
  client/src/views/Questions.tsx
Labels: client

add tooltip
  client/src/components/Table/Row.scoped.scss
Labels: client

Add sort icons
  client/src/components/Icon/icons.ts
Labels: client

add tooltip
  client/src/views/Questions.tsx
Labels: client

fix home redirection
  client/src/views/Home/index.tsx
Labels: client

minor icon styling
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/index.tsx
Labels: client
