Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

Fix label regex
  common/src/models/dtos/question.dto.ts
Labels: common

Created auth routs
  server/src/app.ts
  server/src/routes/authRoutes.ts
Labels: server

Add export
  server/src/controllers/index.ts
  server/src/routes/index.ts
Labels: server

Better validation
  common/src/models/dtos/user.dto.ts
Labels: common

Fixed inport
  server/src/routes/questionRoutes.ts
Labels: server

minor
  server/src/routes/questionRoutes.ts
Labels: server

This is better
  server/data/organizationDB.json
Labels: server

Add package jsonwebtoken
  package-lock.json
  server/package.json
Labels: repo, server

type
  server/src/app.ts
  server/src/routes/index.ts
Labels: server

Use regular express
  server/src/routes/authRoutes.ts
  server/src/routes/router.builder.ts
Labels: server

Use JWT
  server/src/controllers/auth.ts
Labels: server

Complete login
  client/src/App.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/services/httpService.ts
  client/src/services/index.ts
  client/src/views/Login/index.tsx
Labels: client

Fixed for auth
  client/src/components/NavBar/NavBar.tsx
  client/src/components/privateRoute.tsx
Labels: client

typo
  client/src/services/questionService.ts
Labels: client

Prepare error
  client/src/components/Forms/FormField.tsx
Labels: client

show form fiels
  client/src/components/Forms/FormField.tsx
Labels: client

Now thats more like it
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
Labels: client

lint
  client/src/services/authService.ts
Labels: client

lint
  client/src/hooks/auth.hook.tsx
Labels: client

extract password regex
  common/src/constants/index.ts
  common/src/constants/validations.ts
  common/src/index.ts
Labels: common

use consts & effect
  client/src/views/Login/index.tsx
Labels: client

lint
  common/src/constants/index.ts
Labels: common

Enhance form field (#33)
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/views/Login/index.tsx
  common/src/constants/index.ts
  common/src/constants/validations.ts
  common/src/index.ts
Labels: client, common

Add role, might be good someday
  common/src/models/interfaces/User.ts
Labels: common

user roles
  server/src/controllers/auth.ts
Labels: server

use the concurrently api
  scripts/npm.start.js
Labels: scripts

simplify
  scripts/npm.start.js
Labels: scripts

use the concurrently api (#34)
  scripts/npm.start.js
Labels: scripts

Add role, might be good someday (#35)
  common/src/models/interfaces/User.ts
  server/src/controllers/auth.ts
Labels: common, server

use contants + implement user
  common/src/models/dtos/user.dto.ts
Labels: common

use destructuring
  common/src/models/dtos/user.dto.ts
Labels: common

prepare auth methods
  common/src/models/dtos/index.ts
  common/src/models/dtos/requestResetPasswod.dto.ts
  common/src/models/dtos/resetPassword.dto.ts
Labels: common

add non-required token to user
  common/src/models/interfaces/User.ts
Labels: common

switch login to auth
  server/src/errors/AuthError.ts
  server/src/errors/LoginError.ts
  server/src/errors/index.ts
Labels: server

Allow partial updates
  server/src/DAL/reporsitory.ts
Labels: server

Add time constants
  server/src/constants/index.ts
  server/src/constants/time.ts
Labels: server

add expiration time
  common/src/models/interfaces/User.ts
Labels: common

fix validations
  common/src/models/dtos/resetPassword.dto.ts
Labels: common

implement auth methods
  server/src/DAL/userRepository.ts
  server/src/controllers/auth.ts
Labels: server

Add routes
  server/src/routes/authRoutes.ts
Labels: server

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
