Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Update model to spec
  common/src/models/interfaces/Question.ts
  server/src/controllers/questions.ts
Labels: common, server

Work on q page
  client/src/views/Questions.tsx
Labels: client

Add test related models
  common/src/models/dtos/email.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/dtos/test.dto.ts
  common/src/models/enums/Language.ts
  common/src/models/enums/index.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Test.ts
  common/src/models/interfaces/index.ts
Labels: common

Add some questions + testDB
  server/data/questionDB.json
  server/data/testDB.json
Labels: server

typo + test repo
  server/src/DAL/index.ts
  server/src/controllers/questions.ts
Labels: server

fix
  common/src/models/dtos/email.dto.ts
Labels: common

Add test count to question, and test controller
  common/src/models/interfaces/Question.ts
  server/src/controllers/questions.ts
  server/src/controllers/tests.ts
Labels: common, server

Question table (#42)
  client/src/components/Ellipsis/index.tsx
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
  client/src/components/questionsForm.tsx
  client/src/views/Questions.tsx
  common/src/constants/index.ts
  common/src/constants/urls.ts
  common/src/models/dtos/email.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/dtos/test.dto.ts
  common/src/models/enums/Language.ts
  common/src/models/enums/index.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/Test.ts
  common/src/models/interfaces/index.ts
  server/data/questionDB.json
  server/data/testDB.json
  server/src/DAL/index.ts
  server/src/app.ts
  server/src/constants/index.ts
  server/src/controllers/questions.ts
  server/src/controllers/tests.ts
Labels: client, common, server

Restructure
  client/src/App.tsx
  client/src/components/PrivateRoute/index.tsx
Labels: client

Add route protection requiring study field
  client/src/components/PrivateRoute/index.tsx
  client/src/hooks/auth.hook.tsx
Labels: client

Change structure
  client/src/components/ProtectedRoute/index.tsx
Labels: client

component oraganize
  client/src/components/NavBar/index.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/components/index.ts
Labels: client

Use component index
  client/src/App.tsx
  client/src/components/Ellipsis/index.tsx
  client/src/components/Table/index.tsx
  client/src/components/Tooltip/index.tsx
  client/src/components/index.ts
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
Labels: client

get routes ready
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/ProtectedRoute/index.tsx
Labels: client

Restruct
  client/src/views/Home/index.tsx
Labels: client

Add table column
  client/src/views/Questions.tsx
Labels: client

Create dummy select
  client/src/components/Forms/Select.scoped.scss
  client/src/components/Forms/Select.tsx
  client/src/components/Forms/index.ts
  client/src/views/Home/Home.scoped.scss
  client/src/views/Home/index.tsx
Labels: client

make errorMsg optional
  client/src/components/Forms/FormField.tsx
Labels: client

prepare fix for client knowing the org & field
  common/src/models/classes/Guid.ts
  common/src/models/interfaces/OrganizationBaseInfo.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
Labels: common

implement login with org info
  server/src/controllers/auth.ts
  server/src/routes/authRoutes.ts
Labels: server

org picks the user
  common/src/models/interfaces/User.ts
  server/src/controllers/auth.ts
Labels: common, server

get the users info
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
Labels: client

better nav bar
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/NavBar/index.tsx
Labels: client

create dummy user Aa@12345
  server/data/userDB.json
Labels: server

Make select work
  client/src/components/Forms/Select.scoped.scss
  client/src/components/Forms/Select.tsx
Labels: client

Add disabled style
  client/src/components/Forms/Select.scoped.scss
Labels: client

Select: 1 org many fields.
  client/src/views/Home/index.tsx
Labels: client

use auth hook
  client/src/views/Home/index.tsx
Labels: client

Add organization and filed to hook + typo
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/hooks/auth.hook.tsx
Labels: client

Fix floating menu
  client/src/components/NavBar/index.tsx
Labels: client

Add continue button
  client/src/views/Home/index.tsx
Labels: client

Final touches
  client/src/components/NavBar/index.tsx
  client/src/views/Home/index.tsx
Labels: client

Better auth provider (#43)
  client/src/App.tsx
  client/src/components/Ellipsis/index.tsx
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/Select.scoped.scss
  client/src/components/Forms/Select.tsx
  client/src/components/Forms/index.ts
  client/src/components/NavBar/index.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/components/Table/index.tsx
  client/src/components/Tooltip/index.tsx
  client/src/components/index.ts
  client/src/components/privateRoute.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/views/Home.tsx
  client/src/views/Home/Home.scoped.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
  common/src/models/classes/Guid.ts
  common/src/models/interfaces/OrganizationBaseInfo.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
  server/data/userDB.json
  server/src/controllers/auth.ts
  server/src/routes/authRoutes.ts
Labels: client, common, server

FIxed import
  client/src/components/Ellipsis/index.tsx
Labels: client

Add route to edit question
  client/src/views/Questions.tsx
Labels: client

Edit answer form
  client/src/views/Edit Question/EditQuestion.tsx
Labels: client

Create nested routes
  client/src/components/NestedRoutes/index.tsx
  client/src/components/index.ts
Labels: client

Fixed typing
  client/src/hooks/auth.hook.tsx
Labels: client

Extract and fixed logic
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
Labels: client

Use nested routes
  client/src/App.tsx
Labels: client
