Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

Prepare for auth blocked requests
  client/src/models/authRequest.ts
  client/src/models/index.ts
Labels: client

require auth data for question services
  client/src/services/questionService.ts
Labels: client

add auth data helper
  client/src/hooks/auth.hook.tsx
Labels: client

add column buttons functionality, and use the auth data
  client/src/views/Questions/index.tsx
Labels: client

put old component to bed
  client/src/components/questions.tsx
Labels: client

drop redundant function + fix 0 on botttom
  client/src/hooks/modal.hook.tsx
Labels: client

change page structure
  client/src/views/Questions/index.tsx
Labels: client

Some bad styling
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
  client/src/views/Questions/EditQuestion.tsx
Labels: client

add some styling
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
Labels: client

typo
  client/src/services/questionService.ts
  client/src/views/Questions/index.tsx
Labels: client

Add ability to send question to server
  client/src/views/Questions/EditQuestion.tsx
Labels: client

Fix validation
  common/src/models/dtos/question.dto.ts
Labels: common

Stam data
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
Labels: server

Add field and organization service
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
Labels: server

Use services inahnce auth validation
  server/src/middleware/auth.middleware.ts
Labels: server

Get and Add by field
  server/src/controllers/questions.ts
Labels: server

Use auth middleware and align with controller
  server/src/routes/questionRoutes.ts
Labels: server

lint
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
Labels: server

simplify
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
Labels: server

Add method to ensure user can change question
  server/src/services/organization.service.ts
Labels: server

create question and test services
  server/src/services/index.ts
  server/src/services/question.service.ts
  server/src/services/test.service.ts
Labels: server

Route -> Controller -> Service
  server/src/controllers/questions.ts
  server/src/routes/questionRoutes.ts
Labels: server

remove redundant dependency
  common/src/models/interfaces/User.ts
Labels: common

Make items archivable
  common/src/models/interfaces/HasId.ts
  server/src/DAL/reporsitory.ts
Labels: common, server

fix missing await
  server/src/controllers/questions.ts
Labels: server

Block deleteing active question
  server/src/controllers/questions.ts
  server/src/services/question.service.ts
Labels: server

fix missing auth validation
  server/src/routes/questionRoutes.ts
Labels: server

Fix tab style
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/index.scss
  client/src/views/Questions/EditQuestion.scoped.scss
  client/src/views/Questions/EditQuestion.tsx
Labels: client

Fix modal style
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/Modal.scoped.scss
Labels: client

tabs color and active
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
Labels: client

hi shadow
  client/src/views/Questions/EditQuestion.scoped.scss
Labels: client

Section navigator styling (#49)
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/Modal.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/index.scss
  client/src/views/Questions/EditQuestion.scoped.scss
  client/src/views/Questions/EditQuestion.tsx
Labels: client

No need to send full field data
  common/src/models/interfaces/OrganizationBaseInfo.ts
Labels: common

Add helpers for auth
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
Labels: server

Add auth service
  server/src/services/auth.service.ts
  server/src/services/index.ts
Labels: server

Route -> Controller -> Service
  server/src/controllers/auth.ts
  server/src/routes/authRoutes.ts
Labels: server

lint
  server/src/controllers/auth.ts
  server/src/services/index.ts
Labels: server

Server auth (#48)
  common/src/models/interfaces/HasId.ts
  common/src/models/interfaces/OrganizationBaseInfo.ts
  common/src/models/interfaces/User.ts
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
  server/src/DAL/reporsitory.ts
  server/src/controllers/auth.ts
  server/src/controllers/questions.ts
  server/src/middleware/auth.middleware.ts
  server/src/routes/authRoutes.ts
  server/src/routes/questionRoutes.ts
  server/src/services/auth.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/test.service.ts
Labels: common, server

style
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/views/Questions/EditQuestion.scoped.scss
Labels: client

style (#50)
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/views/Questions/EditQuestion.scoped.scss
Labels: client

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
