Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

אין כמו ג'נטקס
  package-lock.json
  server/package.json
  server/src/app.ts
Labels: repo, server

Add logs to controllers
  server/src/controllers/auth.controller.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/report.controller.ts
  server/src/controllers/test.controller.ts
Labels: server

server fix
  server/src/controllers/report.controller.ts
Labels: server

server fix (#99)
  server/src/controllers/report.controller.ts
Labels: server

use range in fetching
  client/src/services/reportService.ts
  client/src/views/TestsReports/TestReport.tsx
  client/src/views/TestsReports/index.tsx
Labels: client

simplify and fix
  client/src/views/TestsReports/TestReport.tsx
Labels: client

less iterations
  client/src/views/TestsReports/TestReport.tsx
Labels: client

remove from table
  client/src/views/TestsReports/TestReport.tsx
Labels: client

auth service logs
  server/src/services/auth.service.ts
Labels: server

cert service logs
  server/src/services/certification.service.ts
Labels: server

lint
  server/src/services/auth.service.ts
Labels: server

email service logs
  server/src/services/email.service.ts
Labels: server

logger exam service
  server/src/services/exam.service.ts
Labels: server

Field logger + async fixes
  server/src/services/field.service.ts
Labels: server

Organization logger + async fixes
  server/src/services/organization.service.ts
Labels: server

test service logging
  server/src/services/test.service.ts
Labels: server

Student logs
  server/src/services/student.service.ts
Labels: server

Add logs to questions
  server/src/services/question.service.ts
Labels: server

Add logger (#98)
  package-lock.json
  server/package.json
  server/src/DAL/reporsitory.ts
  server/src/DAL/studentRepository.ts
  server/src/app.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/report.controller.ts
  server/src/controllers/test.controller.ts
  server/src/custom-typings.d.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/error.middleware.ts
  server/src/middleware/index.ts
  server/src/middleware/notFound.middleware.ts
  server/src/middleware/reqId.middleware.ts
  server/src/middleware/validation.middleware.ts
  server/src/services/appLogger.service.ts
  server/src/services/auth.service.ts
  server/src/services/certification.service.ts
  server/src/services/email.service.ts
  server/src/services/exam.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
  server/src/services/test.service.ts
Labels: repo, server

lint
  client/src/services/httpService.ts
Labels: client

add cache for suspense
  client/package.json
  package-lock.json
Labels: repo, client

Attempt to get all questions with cache
  client/src/services/questionService.ts
  client/src/views/Questions/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

smarter hook
  client/src/hooks/auth.hook.tsx
Labels: client

Use cach for tests as well
  client/src/services/testService.ts
  client/src/views/Tests/index.tsx
  client/src/views/TestsReports/index.tsx
Labels: client

Cached reports
  client/src/services/reportService.ts
  client/src/views/StudentsReports/StudentReport.tsx
  client/src/views/StudentsReports/index.tsx
  client/src/views/TestsReports/TestReport.tsx
Labels: client

lint server + fix logs and and range
  server/src/controllers/report.controller.ts
  server/src/services/question.service.ts
Labels: server

Use Suspense properly with resources and cache (#101)
  client/package.json
  client/src/hooks/auth.hook.tsx
  client/src/services/httpService.ts
  client/src/services/questionService.ts
  client/src/services/reportService.ts
  client/src/services/testService.ts
  client/src/views/Questions/index.tsx
  client/src/views/StudentsReports/StudentReport.tsx
  client/src/views/StudentsReports/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
  client/src/views/TestsReports/TestReport.tsx
  client/src/views/TestsReports/index.tsx
  package-lock.json
  server/src/controllers/report.controller.ts
  server/src/services/question.service.ts
Labels: repo, client, server

initial dockerize
  .dockerignore
  Dockerfile
  Dockerfile.client
  Dockerfile.server
  client/.dockerignore
  common/.dockerignore
  common/package.json
  docker-compose.yml
  nginx/nginx.conf
  package-lock.json
  server/.dockerignore
  server/package.json
  server/src/services/appLogger.service.ts
Labels: repo, client, common, server

remov unneeded
  Dockerfile
Labels: repo

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
