Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

change active icon
  client/src/components/Icon/icons.ts
Labels: client

simplify table
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
Labels: client

Create fixed fotter component
  client/src/components/Layout/FixedFooter.scoped.scss
  client/src/components/Layout/FixedFooter.tsx
  client/src/components/Layout/index.ts
Labels: client

Use fixed footer
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/index.tsx
Labels: client

accordion & container
  client/src/views/Tests/TestForm/TestEmails.tsx
Labels: client

Remove accordion bg
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
Labels: client

use container
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

change name
  client/src/views/Tests/EditTest.tsx
Labels: client

Add active row option for table
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
Labels: client

small renaming and changes
  client/src/hooks/searchAndSort.hook.ts
Labels: client

Add active row and start select visible
  client/src/views/Tests/TestForm/TestQuestions.tsx
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
  server/data/testDB.json
Labels: client, server

Revert "Add active row and start select visible"
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
  server/data/testDB.json
Labels: server

Update status_codes.ts
  server/src/constants/status_codes.ts
Labels: server

Update status_codes.ts (#68)
  server/src/constants/status_codes.ts
Labels: server

lint
  client/src/components/Table/index.tsx
Labels: client

fix styling
  client/src/components/Layout/FixedFooter.scoped.scss
Labels: client

email body is textarea
  client/src/views/Tests/TestForm/EmailForm.tsx
Labels: client

Section break down
  client/src/views/Tests/TestForm/TestEmails.tsx
Labels: client

Allow question wrap in horizontal mode
  client/src/components/Question/Question.scoped.scss
Labels: client

Conditional tag name
  client/src/components/QuestionAnswer/index.tsx
Labels: client

fix submit
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

block validation
  client/src/views/Tests/EditTest.tsx
Labels: client

Add examChange dto
  common/src/models/dtos/examChanged.dto.ts
  common/src/models/dtos/index.ts
Labels: common

Create ExamResult
  common/src/models/interfaces/ExamResult.ts
  common/src/models/interfaces/index.ts
Labels: common

Add methods to exam controller
  server/src/controllers/exam.controller.ts
Labels: server

Create ExamLocked error
  server/src/errors/ExamLockedError.ts
  server/src/errors/index.ts
Labels: server

Add routes
  server/src/routes/exam.routes.ts
Labels: server

typing
  server/src/services/email.service.ts
Labels: server

Add helper method
  server/src/services/organization.service.ts
Labels: server

simplify
  server/src/services/student.service.ts
Labels: server

build and export exam service
  server/src/services/exam.service.ts
  server/src/services/index.ts
Labels: server

Change completed ftom boolean to nullable date
  common/src/models/interfaces/Exam.ts
  server/src/services/exam.service.ts
Labels: common, server

rork on email
  server/src/controllers/exam.controller.ts
  server/src/services/exam.service.ts
Labels: server

Finish success/failure emails
  server/src/controllers/exam.controller.ts
  server/src/services/exam.service.ts
Labels: server

remove old crap
  client/src/components/questions.tsx
  client/src/components/questionsForm.tsx
  client/src/components/questionsTable.tsx
Labels: client

complete the question selection
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/tsconfig.json
Labels: client

Test pages client (#54)
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Icon/icons.ts
  client/src/components/Layout/FixedFooter.scoped.scss
  client/src/components/Layout/FixedFooter.tsx
  client/src/components/Layout/index.ts
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/TestLinkModal.scoped.scss
  client/src/components/Modal/TestLinkModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
  client/src/components/questions.tsx
  client/src/components/questionsForm.tsx
  client/src/components/questionsTable.tsx
  client/src/hooks/searchAndSort.hook.ts
  client/src/services/httpService.ts
  client/src/services/index.ts
  client/src/services/questionService.ts
  client/src/services/testService.ts
  client/src/utils/_vars.scss
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/index.ts
  client/src/views/Tests/index.tsx
  client/tsconfig.json
  common/src/models/dtos/test.dto.ts
Labels: client, common

use questions from exam, not from test + simplify
  server/src/services/exam.service.ts
Labels: server

Service work
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/test.service.ts
Labels: server

use test count + remove deleted question reference
  common/src/models/interfaces/Question.ts
  server/src/controllers/question.controller.ts
Labels: common, server

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"
