Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Add pre install to check npm version
  package-lock.json
  package.json
  scripts/npm.install.js
Labels: repo, scripts

colors & logic fix
  scripts/npm.install.js
Labels: scripts

Possible fix
  package-lock.json
  package.json
Labels: repo

Add preinstall and back-compatabillity (#24)
  package-lock.json
  package.json
  scripts/npm.install.js
Labels: repo, scripts

Revert "Add preinstall and back-compatabillity (#24)"
  package-lock.json
  package.json
  scripts/npm.install.js
Labels: repo, scripts

Try again
  scripts/npm.install.js
Labels: scripts

Add preinstall (#26)
  scripts/npm.install.js
Labels: scripts

update ts
  client/package.json
  package-lock.json
Labels: repo, client

update ts
  common/package.json
  server/package.json
Labels: common, server

return the error
  scripts/npm.install.js
Labels: scripts

Add preinstall (#27)
  client/package.json
  common/package.json
  package-lock.json
  scripts/npm.install.js
  server/package.json
Labels: repo, client, common, scripts, server

Fixed npm script - lower than 14
  scripts/npm.start.js
Labels: scripts

Add new error type
  server/src/errors/ItemNotInDbError.ts
  server/src/errors/index.ts
Labels: server

Add proxy and methods
  server/src/DAL/questionsRepository.ts
Labels: server

Add route and controller
  server/src/controller/questions.ts
  server/src/routes/questionRoutes.ts
Labels: server

Fixed npm script - lower than 14 (#28)
  scripts/npm.start.js
Labels: scripts

Add react router, and clear up styles
  client/package-lock.json
  client/package.json
  client/src/App.scss
  client/src/index.tsx
Labels: client

Add auth hooks and safe router
  client/src/components/privateRoute.tsx
  client/src/hooks/auth.hook.tsx
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
Labels: client, common

Add dummy views
  client/src/views/Home.tsx
  client/src/views/Login.tsx
  client/src/views/Questions.tsx
  client/src/views/Reports.tsx
  client/src/views/Tests.tsx
Labels: client

Init dummy nav bar
  client/src/components/navBar.tsx
Labels: client

Typo
  client/src/components/questionsForm.tsx
Labels: client

Use routes and nav bar
  client/src/App.tsx
  client/src/index.scss
Labels: client

Change id to string
  server/data/jsonAsDb.json
Labels: server

Edit updateQuestion method
  server/src/DAL/questionsRepository.ts
Labels: server

Add css scoping and client to workspace
  client/.cracorc
  client/package-lock.json
  client/package.json
  client/src/App.scss
  client/src/App.tsx
  package-lock.json
  package.json
Labels: repo, client

Move navbar to folder
  client/src/components/NavBar/NavBar.tsx
Labels: client

add text centering
  client/src/index.scss
Labels: client

Add sass multi loader
  client/.cracorc
  client/package.json
  client/src/App.tsx
  client/src/utils/_vars.scss
  package-lock.json
Labels: repo, client

Styling for nav + auth aware
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/hooks/auth.hook.tsx
  client/src/index.scss
  client/src/utils/_vars.scss
Labels: client

styling + start login page
  client/src/index.scss
  client/src/utils/_vars.scss
  client/src/views/Login.scoped.scss
  client/src/views/Login.tsx
Labels: client

start view restructure
  client/src/App.tsx
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
  client/src/views/index.ts
Labels: client

Create Button component
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Forms/Button.tsx
  client/src/utils/_vars.scss
Labels: client

change button
  client/src/components/Forms/Button.scoped.scss
Labels: client

Initial form field
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/utils/_vars.scss
Labels: client

Inital login
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
Labels: client

improve
  client/src/components/NavBar/NavBar.tsx
Labels: client

same same
  client/src/components/privateRoute.tsx
Labels: client

Add control and namespacing
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/index.ts
Labels: client

complete temporary login/out
  client/src/components/NavBar/NavBar.tsx
  client/src/hooks/auth.hook.tsx
  client/src/views/Login/index.tsx
Labels: client

style logout button
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/utils/_vars.scss
Labels: client
