Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Use nav link and style (#89)
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/NavBar/index.tsx
Labels: client

remove redundant import
  client/src/components/NavBar/index.tsx
Labels: client

Use nav link and style - fix (#90)
  client/src/components/NavBar/index.tsx
Labels: client

Preperations: add ref to avoid closing autocomplete options
  client/src/components/Forms/FormField.tsx
Labels: client

Generate autocomplete
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Forms/Autocomplete.tsx
Labels: client

Export autocomplete
  client/src/components/Forms/index.ts
Labels: client

drop ref in form field
  client/src/components/Forms/FormField.tsx
Labels: client

Allow blocking errors
  client/src/components/Forms/FormField.tsx
Labels: client

fix styles
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Forms/Autocomplete.tsx
Labels: client

lint
  client/src/components/Forms/FormField.tsx
Labels: client

Start autocomplete usage
  client/src/views/Questions/index.tsx
Labels: client

remove redundant imports
  client/src/components/Forms/Autocomplete.tsx
Labels: client

logic fix
  client/src/views/Questions/EditQuestion.tsx
Labels: client

change empty message
  client/src/components/Forms/Autocomplete.tsx
Labels: client

test page use autocomplete
  client/src/views/Tests/index.tsx
Labels: client

Escape regex
  client/src/components/Forms/Autocomplete.tsx
  client/src/hooks/searchAndSort.hook.ts
Labels: client

escaping
  client/src/components/Forms/Autocomplete.tsx
  client/src/hooks/searchAndSort.hook.ts
Labels: client

Add autocomplete to test questions
  client/src/views/Tests/TestForm/TestQuestions.tsx
Labels: client

Autocomplete (#91)
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Forms/Autocomplete.tsx
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/index.ts
  client/src/hooks/searchAndSort.hook.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
Labels: client

multi options fix
  client/src/components/Forms/Autocomplete.tsx
Labels: client

Use icon
  client/src/components/NavBar/index.tsx
Labels: client

Add font
  client/public/index.html
Labels: client

Space page
  client/src/views/Tests/TestForm/TestMessages.tsx
Labels: client

Yati DR
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/Backdrop/Backdrop.scoped.scss
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Modal/Modal.scoped.scss
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Row.scoped.scss
  client/src/index.scss
  client/src/utils/_vars.scss
Labels: client

DR
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Header.tsx
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/index.tsx
  client/src/views/Tests/TestForm/TestMessages.tsx
Labels: client

more DR and add delete warning
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/views/Questions/index.tsx
Labels: client

Use auto complete
  client/src/views/StudentsReports/StudentReport.tsx
  client/src/views/StudentsReports/index.tsx
  client/src/views/Tests/index.tsx
Labels: client

Add shortcuts
  client/src/components/Forms/Autocomplete.tsx
Labels: client

Test reports server (#92)
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
  server/src/services/question.service.ts
Labels: server

Align typing to server
  client/src/services/reportService.ts
Labels: client

Add dedicated type
  client/src/services/reportService.ts
  common/src/models/interfaces/TestReport.ts
  common/src/models/interfaces/index.ts
Labels: client, common

Create test report view
  client/src/App.tsx
  client/src/views/TestsReports/TestReport.tsx
  client/src/views/TestsReports/index.tsx
  client/src/views/index.ts
Labels: client

Style review mode
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/utils/_vars.scss
Labels: client

Fix zindex
  client/src/components/Loader/Loader.scoped.scss
Labels: client

align table
  client/src/views/Questions/index.tsx
Labels: client

use global loading state
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/index.tsx
Labels: client

Add global loading in auth pages
  client/src/views/Login/index.tsx
  client/src/views/Restore/index.tsx
Labels: client

Add missing dep
  client/src/views/Tests/EditTest.tsx
Labels: client

add global loading state
  client/src/views/Exam/ExamProgress.tsx
  client/src/views/Login/index.tsx
Labels: client

Add questions to test report
  client/src/views/TestsReports/TestReport.tsx
  common/src/models/interfaces/TestReport.ts
Labels: client, common
