Repository ChemiAtlow/YahalomTests, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, client, common, scripts, server, markdowns

.github/labeler.yml:

workflows:
    - .github/**/*
repo:
    - ./*
client:
    - client/**/*
common:
    - common/**/*
scripts:
    - scripts/**/*
server:
    - server/**/*
markdowns:
    - "**/*.md"

Exam server (#69)
  common/src/models/dtos/examChanged.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/interfaces/Exam.ts
  common/src/models/interfaces/ExamResult.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/index.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/question.controller.ts
  server/src/errors/ExamLockedError.ts
  server/src/errors/index.ts
  server/src/routes/exam.routes.ts
  server/src/services/email.service.ts
  server/src/services/exam.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
  server/src/services/test.service.ts
Labels: common, server

change route param name
  server/src/routes/report.routes.ts
Labels: server

fix q model
  client/src/views/Questions/index.tsx
Labels: client

Add route to get all students of organizations
  server/src/controllers/report.controller.ts
  server/src/routes/report.routes.ts
  server/src/services/student.service.ts
Labels: server

Calculate grade only once and get exams of user by organization
  common/src/models/interfaces/Exam.ts
  server/src/services/exam.service.ts
Labels: common, server

Get student report
  server/src/controllers/report.controller.ts
  server/src/models/types/Params.ts
Labels: server

Add test report functionality
  server/src/controllers/report.controller.ts
  server/src/services/question.service.ts
Labels: server

reports server (#70)
  common/src/models/interfaces/Exam.ts
  server/src/controllers/report.controller.ts
  server/src/models/types/Params.ts
  server/src/routes/report.routes.ts
  server/src/services/exam.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
Labels: common, server

Use lazy loading in views
  client/src/App.tsx
  client/src/components/ErrorBoundery/index.jsx
  client/src/components/Loader/Loader.scoped.scss
  client/src/components/Loader/index.tsx
  client/src/components/index.ts
Labels: client

Create exam service
  client/src/services/examService.ts
  client/src/services/index.ts
Labels: client

Aligned models
  client/src/views/Questions/index.tsx
Labels: client

Start working on exam page
  client/src/views/Exam/StudentForm.tsx
  client/src/views/Exam/index.tsx
  client/src/views/index.ts
Labels: client

Create examQuestions component
  client/src/views/Exam/ExamQuestions.tsx
  client/src/views/Exam/index.tsx
Labels: client

Bad, but better than nothing.
  client/src/views/Questions/EditQuestion.tsx
Labels: client

import correctly
  server/src/services/exam.service.ts
Labels: server

import correctly (#73)
  server/src/services/exam.service.ts
Labels: server

fix names
  client/src/components/ErrorBoundary/index.tsx
Labels: client

Error boundary js -> ts
  client/src/components/ErrorBoundary/index.tsx
  client/src/components/index.ts
Labels: client

return to export library + chunk names
  client/src/App.tsx
  client/src/views/index.ts
Labels: client

Create global app loding hook
  client/src/App.tsx
  client/src/hooks/index.ts
  client/src/hooks/loading.hook.tsx
Labels: client

Use app loader
  client/src/App.tsx
  client/src/views/Exam/index.tsx
Labels: client

Styling
  client/src/components/Loader/Loader.scoped.scss
Labels: client

Add get exam path, and comment routes
  server/src/controllers/exam.controller.ts
  server/src/routes/exam.routes.ts
Labels: server

Add get exam path, and comment routes (#74)
  server/src/controllers/exam.controller.ts
  server/src/routes/exam.routes.ts
Labels: server

add all routes to exam service
  client/src/services/examService.ts
Labels: client

don't return void
  server/src/controllers/exam.controller.ts
Labels: server

better path
  server/src/routes/exam.routes.ts
Labels: server

Exam enhancment server (#75)
  server/src/controllers/exam.controller.ts
  server/src/routes/exam.routes.ts
Labels: server

preload questions + fix loading issue
  client/src/views/Exam/ExamQuestions.tsx
  client/src/views/Exam/StudentForm.tsx
  client/src/views/Exam/index.tsx
Labels: client

Fix hooks functions
  client/src/hooks/loading.hook.tsx
  client/src/hooks/modal.hook.tsx
Labels: client

Use fixed hook
  client/src/views/Exam/ExamQuestions.tsx
Labels: client

Simplify and extract logic
  client/src/views/Exam/index.tsx
Labels: client

self handle + better regex
  client/src/views/Exam/StudentForm.tsx
Labels: client

UI fix round (#72)
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
Labels: client

fix hook
  client/src/hooks/modal.hook.tsx
Labels: client

simplify
  client/src/views/Questions/EditQuestion.tsx
Labels: client

style loader
  client/src/components/Loader/Loader.scoped.scss
Labels: client

add page number to path
  client/src/views/Exam/index.tsx
Labels: client

handle page number + check if we are handleing an exam result
  client/src/views/Exam/ExamQuestions.tsx
Labels: client

fix nullable
  client/src/views/Exam/ExamQuestions.tsx
Labels: client
