Repository ChemiAtlow/YahalomTests, pull requests merged in 2021-01, with the labels that each got.

#13 Add issue templates
  .github/ISSUE_TEMPLATE/add-feature.md
Labels: documentation

#15 Fix template
  .github/ISSUE_TEMPLATE/add-feature.md
Labels: documentation

#9 Better typing
  client/src/App.test.tsx
  client/src/components/questions.tsx
  client/src/components/questionsForm.tsx
  common/models/Question.ts
  server/package.json
  server/src/DAL/questionsRepository.ts
  server/src/controller/questions.ts
  server/src/errors/BadRequestError.ts
  server/src/errors/DbError.ts
  server/src/errors/index.ts
  server/src/models/index.ts
  server/src/models/types/AsyncWrapperFunction.ts
  server/src/models/types/index.ts
  server/src/routes/questionRoutes.ts
  server/src/routes/route.builder.ts
  server/tsconfig.json
Labels: enhancement

#21 Add question creation - Server
  common/models/Question.ts
  common/models/classes/Guid.ts
  common/models/classes/index.ts
  common/models/enums/QuestionType.ts
  common/models/enums/index.ts
  common/models/index.ts
  common/models/interfaces/Answer.ts
  common/models/interfaces/Question.ts
  common/models/interfaces/index.ts
  server/src/DAL/questionsRepository.ts
  server/src/app.ts
  server/src/controller/index.ts
  server/src/controller/questions.ts
  server/src/routes/questionRoutes.ts
  server/src/routes/router.builder.ts
Labels: common, enhancement, server

#23 add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: workflows

#24 Add preinstall and back-compatabillity
  package-lock.json
  package.json
  scripts/npm.install.js
Labels: scripts

#26 Add preinstall
  scripts/npm.install.js
Labels: scripts

#27 Add preinstall
  client/package.json
  common/package.json
  package-lock.json
  scripts/npm.install.js
  server/package.json
Labels: client, common, scripts, server

#28 Fixed npm script - lower than 14
  scripts/npm.start.js
Labels: scripts

#29 Question editing server
  common/src/models/interfaces/HasId.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/index.ts
  server/data/jsonAsDb.json
  server/data/questionDB.json
  server/src/DAL/index.ts
  server/src/DAL/questionsRepository.ts
  server/src/DAL/reporsitory.ts
  server/src/controller/questions.ts
  server/src/errors/ItemNotInDbError.ts
  server/src/errors/index.ts
  server/src/models/types/EntityTypes.ts
  server/src/models/types/index.ts
  server/src/routes/questionRoutes.ts
Labels: common, server

#30 Start UI components and styling
  client/.cracorc
  client/package-lock.json
  client/package.json
  client/src/App.scss
  client/src/App.tsx
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Forms/Button.tsx
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/index.ts
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/components/privateRoute.tsx
  client/src/components/questionsForm.tsx
  client/src/hooks/auth.hook.tsx
  client/src/index.scss
  client/src/index.tsx
  client/src/utils/_vars.scss
  client/src/views/Home.tsx
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
  client/src/views/Reports.tsx
  client/src/views/Tests.tsx
  client/src/views/index.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
  package-lock.json
  package.json
Labels: client, common

#32 Models are all that matters
  client/src/App.tsx
  client/src/components/Forms/FormField.tsx
  client/src/components/NavBar/NavBar.tsx
  client/src/components/privateRoute.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/services/httpService.ts
  client/src/services/index.ts
  client/src/services/questionService.ts
  client/src/views/Login/index.tsx
  common/package-lock.json
  common/package.json
  common/src/models/dtos/answer.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/dtos/question.dto.ts
  common/src/models/dtos/user.dto.ts
  common/src/models/index.ts
  common/src/models/interfaces/Organization.ts
  common/src/models/interfaces/StudyField.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
  common/src/validators/answers.validator.ts
  common/src/validators/index.ts
  package-lock.json
  server/data/organizationDB.json
  server/data/studyFieldDB.json
  server/data/userDB.json
  server/package-lock.json
  server/package.json
  server/src/DAL/index.ts
  server/src/DAL/userRepository.ts
  server/src/app.ts
  server/src/constants/status_codes.ts
  server/src/controller/questions.ts
  server/src/controllers/auth.ts
  server/src/controllers/index.ts
  server/src/controllers/questions.ts
  server/src/errors/EmailTakenError.ts
  server/src/errors/LoginError.ts
  server/src/errors/index.ts
  server/src/middleware/index.ts
  server/src/middleware/validation.middleware.ts
  server/src/models/types/EntityTypes.ts
  server/src/routes/authRoutes.ts
  server/src/routes/index.ts
  server/src/routes/questionRoutes.ts
  server/src/routes/router.builder.ts
  server/src/utils/expressAsync.ts
  server/src/utils/index.ts
Labels: client, common, scripts, server

#33 Enhance form field
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/views/Login/index.tsx
  common/src/constants/index.ts
  common/src/constants/validations.ts
  common/src/index.ts
Labels: client, common

#34 use the concurrently api
  scripts/npm.start.js
Labels: scripts

#35 Add role, might be good someday
  common/src/models/interfaces/User.ts
  server/src/controllers/auth.ts
Labels: common, server

#36 Add auth controller methods
  common/package.json
  common/src/models/dtos/index.ts
  common/src/models/dtos/requestResetPasswod.dto.ts
  common/src/models/dtos/resetPassword.dto.ts
  common/src/models/dtos/user.dto.ts
  common/src/models/interfaces/User.ts
  server/src/DAL/reporsitory.ts
  server/src/DAL/userRepository.ts
  server/src/constants/index.ts
  server/src/constants/time.ts
  server/src/controllers/auth.ts
  server/src/errors/AuthError.ts
  server/src/errors/LoginError.ts
  server/src/errors/index.ts
  server/src/routes/authRoutes.ts
Labels: common, enhancement, server

#37 Nicer app
  client/src/App.tsx
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
  client/src/components/NavBar/NavBar.scoped.scss
  client/src/components/NavBar/NavBar.tsx
  client/src/components/Tooltip/index.tsx
  client/src/hooks/clickOut.hook.ts
  client/src/index.scss
  client/src/utils/_vars.scss
  client/src/views/Login/Login.scoped.scss
Labels: client

#38 Auth middleware server
  server/data/organizationDB.json
  server/data/studyFieldDB.json
  server/src/DAL/userRepository.ts
  server/src/constants/general.ts
  server/src/constants/index.ts
  server/src/controllers/auth.ts
  server/src/custom-typings.d.ts
  server/src/errors/UnauthorizedError.ts
  server/src/errors/index.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/index.ts
Labels: server

#39 styling and tooltip
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/FloatingMenu/index.tsx
  client/src/components/Tooltip/Tooltip.scoped.scss
  client/src/components/Tooltip/index.tsx
  client/src/hooks/clickOut.hook.ts
  client/src/hooks/clickOutside.hook.ts
  client/src/hooks/index.ts
  client/src/utils/_vars.scss
  server/src/custom-typings.d.ts
Labels: client, enhancement, server

#40 Start generic table
  client/src/components/Table/Row.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/hooks/index.ts
  client/src/hooks/searchAndSort.hook.ts
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
Labels: client

#42 Question table
  client/src/components/Ellipsis/index.tsx
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
  client/src/components/questionsForm.tsx
  client/src/views/Questions.tsx
  common/src/constants/index.ts
  common/src/constants/urls.ts
  common/src/models/dtos/email.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/dtos/test.dto.ts
  common/src/models/enums/Language.ts
  common/src/models/enums/index.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/Test.ts
  common/src/models/interfaces/index.ts
  server/data/questionDB.json
  server/data/testDB.json
  server/src/DAL/index.ts
  server/src/app.ts
  server/src/constants/index.ts
  server/src/controllers/questions.ts
  server/src/controllers/tests.ts
Labels: client, common, server

#43 Better auth provider
  client/src/App.tsx
  client/src/components/Ellipsis/index.tsx
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/Select.scoped.scss
  client/src/components/Forms/Select.tsx
  client/src/components/Forms/index.ts
  client/src/components/NavBar/index.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/components/Table/index.tsx
  client/src/components/Tooltip/index.tsx
  client/src/components/index.ts
  client/src/components/privateRoute.tsx
  client/src/hooks/auth.hook.tsx
  client/src/services/authService.ts
  client/src/views/Home.tsx
  client/src/views/Home/Home.scoped.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
  common/src/models/classes/Guid.ts
  common/src/models/interfaces/OrganizationBaseInfo.ts
  common/src/models/interfaces/User.ts
  common/src/models/interfaces/index.ts
  server/data/userDB.json
  server/src/controllers/auth.ts
  server/src/routes/authRoutes.ts
Labels: client, common, enhancement, server

#45 Generate email service
  common/src/constants/urls.ts
  common/src/models/interfaces/Email.ts
  common/src/models/interfaces/Student.ts
  common/src/models/interfaces/index.ts
  package-lock.json
  server/data/organizationDB.json
  server/package.json
  server/src/app.ts
  server/src/controllers/auth.ts
  server/src/services/email.service.ts
  server/src/services/index.ts
Labels: common, enhancement, server

#46 Icon component
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/icons.ts
  client/src/components/Icon/index.tsx
  client/src/components/Layout/Row.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Header.tsx
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/components/index.ts
  client/src/hooks/searchAndSort.hook.ts
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
Labels: client, common, server

#47 Modal
  client/src/App.tsx
  client/src/components/Backdrop/Backdrop.scoped.scss
  client/src/components/Backdrop/index.tsx
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Forms/Button.tsx
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/ErrorModal.scoped.scss
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/Modal.scoped.scss
  client/src/components/Modal/index.ts
  client/src/components/Tooltip/index.tsx
  client/src/components/index.ts
  client/src/hooks/index.ts
  client/src/hooks/modal.hook.tsx
  client/src/utils/_vars.scss
  client/src/views/Reports.tsx
Labels: client, enhancement

#44 Question form
  client/src/App.tsx
  client/src/components/Ellipsis/index.tsx
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/Select.scoped.scss
  client/src/components/Forms/Select.tsx
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/icons.ts
  client/src/components/Icon/index.tsx
  client/src/components/Layout/Row.scoped.scss
  client/src/components/Layout/Row.tsx
  client/src/components/Layout/index.ts
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/ErrorModal.scoped.scss
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/Modal.scoped.scss
  client/src/components/NavBar/index.tsx
  client/src/components/NestedRoutes/index.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/SectionNavigator/Section.tsx
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
  client/src/components/SectionNavigator/index.ts
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Header.tsx
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/components/index.ts
  client/src/components/questions.tsx
  client/src/components/questionsForm.tsx
  client/src/environments/environment.ts
  client/src/hooks/auth.hook.tsx
  client/src/hooks/modal.hook.tsx
  client/src/hooks/searchAndSort.hook.ts
  client/src/index.scss
  client/src/models/authRequest.ts
  client/src/models/index.ts
  client/src/services/httpService.ts
  client/src/services/questionService.ts
  client/src/utils/index.ts
  client/src/views/Home/Home.scoped.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/Login.scoped.scss
  client/src/views/Login/index.tsx
  client/src/views/Questions.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  common/src/models/dtos/question.dto.ts
  common/src/models/enums/Alignment.ts
  common/src/models/enums/index.ts
  common/src/models/interfaces/Question.ts
  server/data/questionDB.json
Labels: client, common, enhancement, server

#49 Section navigator styling
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/Modal.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/index.scss
  client/src/views/Questions/EditQuestion.scoped.scss
  client/src/views/Questions/EditQuestion.tsx
Labels: client, enhancement

#48 Server auth
  common/src/models/interfaces/HasId.ts
  common/src/models/interfaces/OrganizationBaseInfo.ts
  common/src/models/interfaces/User.ts
  server/data/organizationDB.json
  server/data/questionDB.json
  server/data/studyFieldDB.json
  server/src/DAL/reporsitory.ts
  server/src/controllers/auth.ts
  server/src/controllers/questions.ts
  server/src/middleware/auth.middleware.ts
  server/src/routes/authRoutes.ts
  server/src/routes/questionRoutes.ts
  server/src/services/auth.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/test.service.ts
Labels: common, enhancement, fix, server

#50 style
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/views/Questions/EditQuestion.scoped.scss
Labels: client, fix

#52 Test endpoints
  server/src/DAL/reporsitory.ts
  server/src/app.ts
  server/src/controllers/index.ts
  server/src/controllers/tests.ts
  server/src/models/types/AuthenticatedRequestHeaders.ts
  server/src/models/types/Params.ts
  server/src/models/types/index.ts
  server/src/routes/index.ts
  server/src/routes/test.routes.ts
  server/src/services/field.service.ts
  server/src/services/organization.service.ts
  server/src/services/test.service.ts
Labels: enhancement, server

#53 Server cleanup
  server/src/DAL/index.ts
  server/src/DAL/userRepository.ts
  server/src/app.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/index.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/test.controller.ts
  server/src/models/index.ts
  server/src/models/interfaces/Endpoint.ts
  server/src/models/interfaces/index.ts
  server/src/models/types/AsyncWrapperFunction.ts
  server/src/models/types/Params.ts
  server/src/models/types/index.ts
  server/src/routes/auth.routes.ts
  server/src/routes/index.ts
  server/src/routes/question.routes.ts
  server/src/routes/questionRoutes.ts
  server/src/services/auth.service.ts
Labels: fix, server

#56 Question page work
  client/src/components/Layout/Row.scoped.scss
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/SectionNavigator/Section.tsx
  client/src/components/SectionNavigator/SectionNavigator.scoped.scss
  client/src/components/SectionNavigator/SectionNavigator.tsx
  client/src/components/Tooltip/Tooltip.scoped.scss
  client/src/services/questionService.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/index.ts
  client/src/views/Questions/index.tsx
Labels: client, enhancement, fix

#57 Question editing enhancments
  client/src/components/Modal/BaseModal.tsx
  client/src/components/Modal/ErrorModal.tsx
  client/src/components/Modal/MessageModal.tsx
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/WarningModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/services/questionService.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Reports.tsx
  common/src/models/dtos/question.dto.ts
  common/src/models/dtos/test.dto.ts
Labels: client, common, enhancement

#58 Fix question service
  server/src/services/question.service.ts
Labels: server

#61 Add correct highlight
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/utils/_vars.scss
Labels: client, enhancement

#55 Certification service
  package-lock.json
  server/assets/stamp.png
  server/assets/winners.png
  server/package.json
  server/src/app.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/index.ts
  server/src/routes/exam.routes.ts
  server/src/routes/index.ts
  server/src/services/certification.service.ts
  server/src/services/index.ts
Labels: enhancement, server

#63 Fix frontend router
  client/src/App.tsx
  client/src/components/ProtectedRoute/index.tsx
  client/src/hooks/auth.hook.tsx
  client/src/views/Login/index.tsx
Labels: client

#64 Test server
  server/data/studyFieldDB.json
  server/src/controllers/test.controller.ts
  server/src/services/field.service.ts
  server/src/services/test.service.ts
Labels: server

#65 Search
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/components/Icon/icons.ts
  client/src/components/Layout/Container.scoped.scss
  client/src/components/Layout/Container.tsx
  client/src/components/Layout/SearchRow.scoped.scss
  client/src/components/Layout/SearchRow.tsx
  client/src/components/Layout/index.ts
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Table.scoped.scss
  client/src/components/Table/index.tsx
  client/src/hooks/searchAndSort.hook.ts
  client/src/index.scss
  client/src/views/Home/index.tsx
  client/src/views/Login/index.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Restore/index.tsx
Labels: client

#68 Update status_codes.ts
  server/src/constants/status_codes.ts
Labels: server

#54 Test pages client
  client/src/components/Accordion/SilentAccordionSection.scoped.scss
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Icon/icons.ts
  client/src/components/Layout/FixedFooter.scoped.scss
  client/src/components/Layout/FixedFooter.tsx
  client/src/components/Layout/index.ts
  client/src/components/Modal/QuestionPeekModal.tsx
  client/src/components/Modal/TestLinkModal.scoped.scss
  client/src/components/Modal/TestLinkModal.tsx
  client/src/components/Modal/index.ts
  client/src/components/Question/Question.scoped.scss
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/Table/Header.scoped.scss
  client/src/components/Table/Row.scoped.scss
  client/src/components/Table/Row.tsx
  client/src/components/Table/index.tsx
  client/src/components/questions.tsx
  client/src/components/questionsForm.tsx
  client/src/components/questionsTable.tsx
  client/src/hooks/searchAndSort.hook.ts
  client/src/services/httpService.ts
  client/src/services/index.ts
  client/src/services/questionService.ts
  client/src/services/testService.ts
  client/src/utils/_vars.scss
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/index.ts
  client/src/views/Tests/index.tsx
  client/tsconfig.json
  common/src/models/dtos/test.dto.ts
Labels: client, common, enhancement

#69 Exam server
  common/src/models/dtos/examChanged.dto.ts
  common/src/models/dtos/index.ts
  common/src/models/interfaces/Exam.ts
  common/src/models/interfaces/ExamResult.ts
  common/src/models/interfaces/Question.ts
  common/src/models/interfaces/index.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/question.controller.ts
  server/src/errors/ExamLockedError.ts
  server/src/errors/index.ts
  server/src/routes/exam.routes.ts
  server/src/services/email.service.ts
  server/src/services/exam.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
  server/src/services/test.service.ts
Labels: common, enhancement, server

#70 reports server
  common/src/models/interfaces/Exam.ts
  server/src/controllers/report.controller.ts
  server/src/models/types/Params.ts
  server/src/routes/report.routes.ts
  server/src/services/exam.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
Labels: common, server

#73 server hotfix
  server/src/services/exam.service.ts
Labels: server

#74 Add get exam path, and comment routes
  server/src/controllers/exam.controller.ts
  server/src/routes/exam.routes.ts
Labels: server

#75 Exam enhancment server
  server/src/controllers/exam.controller.ts
  server/src/routes/exam.routes.ts
Labels: enhancement, fix, server

#72 UI fix round
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
Labels: client

#76 Create pagination
  client/src/components/Pagination/index.tsx
Labels: client

#71 Exam page client
  client/src/App.tsx
  client/src/components/ErrorBoundary/index.tsx
  client/src/components/Forms/Button.scoped.scss
  client/src/components/Loader/Loader.scoped.scss
  client/src/components/Loader/index.tsx
  client/src/components/Pagination/index.tsx
  client/src/components/Question/index.tsx
  client/src/components/QuestionAnswer/index.tsx
  client/src/components/index.ts
  client/src/hooks/index.ts
  client/src/hooks/loading.hook.tsx
  client/src/hooks/modal.hook.tsx
  client/src/services/examService.ts
  client/src/services/index.ts
  client/src/views/Exam/ExamQuestions.tsx
  client/src/views/Exam/StudentForm.tsx
  client/src/views/Exam/index.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/index.ts
  common/src/models/interfaces/ExamResult.ts
Labels: client, common, enhancement

#77 Exam server inhancement
  server/src/controllers/exam.controller.ts
  server/src/services/certification.service.ts
  server/src/services/exam.service.ts
Labels: server

#78 Add local storage
  client/src/hooks/auth.hook.tsx
Labels: client

#79 Exam improvments
  client/src/components/ExamQuestions/index.tsx
  client/src/components/Question/Question.scoped.scss
  client/src/components/QuestionAnswer/QuestionAnswer.scoped.scss
  client/src/utils/index.ts
  client/src/views/Exam/ExamIntro.tsx
  client/src/views/Exam/ExamProgress.tsx
  client/src/views/Exam/index.tsx
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: client, common, fix, server

#80 Toggle
  client/src/components/Icon/Icon.scoped.scss
  client/src/components/Icon/index.tsx
  client/src/components/ToggleSwitch/ToggleSwitch.scoped.scss
  client/src/components/ToggleSwitch/index.tsx
  client/src/components/index.ts
  client/src/utils/_vars.scss
  client/src/views/Tests/TestForm/TestDetails.tsx
Labels: client
