Repository ChemiAtlow/YahalomTests, pull requests merged in 2021-02, with the labels that each got.

#84 Report server fixes
  common/src/models/interfaces/Exam.ts
  server/src/controllers/exam.controller.ts
  server/src/services/exam.service.ts
  server/src/services/student.service.ts
Labels: common, server

#86 Server fixes
  server/src/DAL/studentRepository.ts
  server/src/controllers/exam.controller.ts
  server/src/services/email.service.ts
Labels: server

#87 Rename and return result instead of exam
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: server

#88 Add completionDate to exam result
  common/src/models/interfaces/ExamResult.ts
  server/src/services/exam.service.ts
Labels: common, fix, server

#85 Forms work
  client/src/components/Forms/FormField.scoped.scss
  client/src/components/Forms/FormField.tsx
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/QuestionForm/QuestionAnswers.tsx
  client/src/views/Questions/QuestionForm/QuestionDetails.tsx
  client/src/views/Questions/QuestionForm/types.ts
  client/src/views/Tests/EditTest.tsx
  client/src/views/Tests/TestForm/EmailForm.tsx
  client/src/views/Tests/TestForm/TestDetails.tsx
  client/src/views/Tests/TestForm/TestEmails.tsx
  client/src/views/Tests/TestForm/TestMessages.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/TestForm/index.ts
  client/src/views/Tests/TestForm/types.ts
Labels: client, enhancement

#89 Use nav link and style
  client/src/components/FloatingMenu/FloatingMenu.scpoped.scss
  client/src/components/NavBar/index.tsx
Labels: client, enhancement

#90 Use nav link and style - fix
  client/src/components/NavBar/index.tsx
Labels: client, fix

#91 Autocomplete
  client/src/components/Forms/Autocomplete.scoped.scss
  client/src/components/Forms/Autocomplete.tsx
  client/src/components/Forms/FormField.tsx
  client/src/components/Forms/index.ts
  client/src/hooks/searchAndSort.hook.ts
  client/src/views/Questions/EditQuestion.tsx
  client/src/views/Questions/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
Labels: client, enhancement

#92 Test reports server
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
  server/src/services/question.service.ts
Labels: fix, server

#93 Trei zuzei
  common/src/models/interfaces/ExamResult.ts
  server/src/controllers/report.controller.ts
  server/src/models/types/ExamResultFn.ts
  server/src/models/types/ExamResultWithEmailDetails.ts
  server/src/models/types/index.ts
  server/src/services/exam.service.ts
Labels: common, fix, server

#95 Server hotfix - TYPO
  server/src/controllers/report.controller.ts
Labels: bug, server

#94 Add date picker
  client/src/components/DatePicker/DatePicker.scoped.scss
  client/src/components/DatePicker/DatePickerBody.scoped.scss
  client/src/components/DatePicker/DatePickerBody.tsx
  client/src/components/DatePicker/DatePickerHead.scoped.scss
  client/src/components/DatePicker/DatePickerHead.tsx
  client/src/components/DatePicker/index.tsx
  client/src/components/DatePicker/types.ts
  client/src/components/index.ts
  client/src/views/Reports.tsx
  common/src/constants/index.ts
  common/src/constants/time.ts
  server/src/constants/index.ts
  server/src/constants/time.ts
  server/src/services/auth.service.ts
Labels: client, common, enhancement, server

#97 add date range to server
  server/src/controllers/report.controller.ts
  server/src/services/exam.service.ts
Labels: enhancement, server

#99 server fix
  server/src/controllers/report.controller.ts
Labels: fix, server

#98 Add logger
  package-lock.json
  server/package.json
  server/src/DAL/reporsitory.ts
  server/src/DAL/studentRepository.ts
  server/src/app.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/exam.controller.ts
  server/src/controllers/question.controller.ts
  server/src/controllers/report.controller.ts
  server/src/controllers/test.controller.ts
  server/src/custom-typings.d.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/error.middleware.ts
  server/src/middleware/index.ts
  server/src/middleware/notFound.middleware.ts
  server/src/middleware/reqId.middleware.ts
  server/src/middleware/validation.middleware.ts
  server/src/services/appLogger.service.ts
  server/src/services/auth.service.ts
  server/src/services/certification.service.ts
  server/src/services/email.service.ts
  server/src/services/exam.service.ts
  server/src/services/field.service.ts
  server/src/services/index.ts
  server/src/services/organization.service.ts
  server/src/services/question.service.ts
  server/src/services/student.service.ts
  server/src/services/test.service.ts
Labels: enhancement, server

#101 Use Suspense properly with resources and cache
  client/package.json
  client/src/hooks/auth.hook.tsx
  client/src/services/httpService.ts
  client/src/services/questionService.ts
  client/src/services/reportService.ts
  client/src/services/testService.ts
  client/src/views/Questions/index.tsx
  client/src/views/StudentsReports/StudentReport.tsx
  client/src/views/StudentsReports/index.tsx
  client/src/views/Tests/TestForm/TestQuestions.tsx
  client/src/views/Tests/index.tsx
  client/src/views/TestsReports/TestReport.tsx
  client/src/views/TestsReports/index.tsx
  package-lock.json
  server/src/controllers/report.controller.ts
  server/src/services/question.service.ts
Labels: client, enhancement, server
